
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stysles{
    <style type="text/css">
        .triangle_border_nw {
            width: 0;
            height: 0;
            border-width: 10px 15px 0 0;
            border-style: solid;
            border-color: #999 transparent transparent transparent;
            margin: 0 auto;
            position: relative;
        }

        .triangle_border_ne {
            width: 0;
            height: 0;
            border-width: 10px 0 0 15px;
            border-style: solid;
            border-color: transparent transparent transparent #999;
            margin: 0 auto;
            position: relative;
        }

        .triangle_border_sw {
            width: 0;
            height: 0;
            border-width: 0 0 10px 15px;
            border-style: solid;
            border-color: transparent transparent #999 transparent;
            margin: 0 auto;
            position: relative;
        }

        .triangle_border_se {
            width: 0;
            height: 0;
            border-width: 0 15px 10px 0;
            border-style: solid;
            border-color: transparent #999 transparent transparent;
            margin: 0 auto;
            position: relative;
        }


    </style>
}


@*<div style="margin:35px auto; text-align:center; width:1200px;">
        <div style="width:1030px; margin:0px auto; text-align:center;">
            <div style="float:left;">
                <div class="triangle_border_sw" style="margin-top:10px;"></div>
            </div>
            <div style="width:1000px; height:20px; float:left; background-color:antiquewhite;"></div>
            <div style="float:left;">
                <div class="triangle_border_ne" style="margin-top:10px;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div style="width:1030px; height:45px; line-height:45px; margin:0px auto; text-align:center; background-color:#999;">
            <span>Title</span>
        </div>
        <div style="width:1000px; height:120px; margin:0px auto; text-align:center; background-color:antiquewhite;"></div>
    </div>*@

<div class="x-contrainer" style="margin:25px auto; text-align:center;">
    <div class="x-title-h" style=" margin:0px auto; text-align:center;">
        <div class="triangle_border_sw" style="float:left; margin-top:10px;"></div>
        <div class="x-title-h-b" style="float:left; height:20px; background-color:#404A59"></div>
        <div class="triangle_border_ne" style="float:left; margin-top:10px;"></div>

        <div style="clear:both;"></div>
    </div>
    <div style=" margin:0px auto; text-align:center; height:45px; line-height:45px; background-color:rgba(255, 255, 255, 0.2); color:#000; font-weight:700; font-size:18px;">
        <span>=&diams;=</span>
        <span style="padding-left:10px; padding-right:10px;">每日警情</span>
        <span>=&diams;=</span>
    </div>
    <div id="x-chart-perd" class="x-body-contrianer" style="height:520px; margin:0px auto; text-align:center; background-color:rgba(255, 255, 255, 0.7);"></div>
</div>

<div class="x-contrainer" style="margin:25px auto; text-align:center;">
    <div class="x-title-h" style=" margin:0px auto; text-align:center;">
        <div class="triangle_border_sw" style="float:left; margin-top:10px;"></div>
        <div class="x-title-h-b" style="float:left; height:20px; background-color:#404A59;"></div>
        <div class="triangle_border_ne" style="float:left; margin-top:10px;"></div>

        <div style="clear:both;"></div>
    </div>
    <div style=" margin:0px auto; text-align:center; height:45px; line-height:45px; background-color:rgba(255, 255, 255, 0.2); color:#000; font-weight:700; font-size:18px;">
        <span>=&diams;=</span>
        <span style="padding-left:10px; padding-right:10px;">警情环比分析</span>
        <span>=&diams;=</span>
    </div>
    <div id="x-chart-perd-hb-week" class="x-body-contrianer" style="height:460px; margin:0px auto; text-align:center; background-color:rgba(255, 255, 255, 0.7); border-bottom:1px solid lightgray;"></div>
    <div id="x-chart-perd-hb-month" class="x-body-contrianer" style="height:460px; margin:0px auto; text-align:center; background-color:rgba(255, 255, 255, 0.7);"></div>
</div>

<div class="x-contrainer" style="margin:35px auto; text-align:center;">
    <div class="x-title-h" style=" margin:0px auto; text-align:center;">
        <div class="triangle_border_sw" style="float:left; margin-top:10px;"></div>
        <div class="x-title-h-b" style="float:left; height:20px; background-color:rgba(255, 255, 255, 0.7);"></div>
        <div class="triangle_border_ne" style="float:left; margin-top:10px;"></div>

        <div style="clear:both;"></div>
    </div>
    <div style="margin:0px auto; text-align:center; height:45px; line-height:45px; background-color:rgba(255, 255, 255, 0.2); color:#000; font-weight:700; font-size:18px;">
        <span>=&diams;=</span>
        <span style="padding-left:10px; padding-right:10px;">警情简要</span>
        <span>=&diams;=</span>
    </div>
    <div class="x-body-contrianer" style="min-height:50px; margin:0px auto; text-align:center; background-color:rgba(255, 255, 255, 0.7);"></div>
</div>

<div class="x-contrainer" style="margin:35px auto; text-align:center;">
    <div class="x-title-h" style=" margin:0px auto; text-align:center;">
        <div class="triangle_border_sw" style="float:left; margin-top:10px;"></div>
        <div class="x-title-h-b" style="float:left; height:20px; background-color:rgba(255, 255, 255, 0.7);"></div>
        <div class="triangle_border_ne" style="float:left; margin-top:10px;"></div>

        <div style="clear:both;"></div>
    </div>
    <div style="margin:0px auto; text-align:center; height:45px; line-height:45px; background-color:rgba(255, 255, 255, 0.2); color:#000; font-weight:700; font-size:18px;">
        <span>=&diams;=</span>
        <span style="padding-left:10px; padding-right:10px;">警情分色预警分析表</span>
        <span>=&diams;=</span>
    </div>
    <div class="x-body-contrianer" style="min-height:50px; margin:0px auto; text-align:center; background-color:rgba(255, 255, 255, 0.7);"></div>
</div>

<div class="x-contrainer" style="margin:35px auto; text-align:center;">
    <div class="x-title-h" style=" margin:0px auto; text-align:center;">
        <div class="triangle_border_sw" style="float:left; margin-top:10px;"></div>
        <div class="x-title-h-b" style="float:left; height:20px; background-color:rgba(255, 255, 255, 0.7);"></div>
        <div class="triangle_border_ne" style="float:left; margin-top:10px;"></div>

        <div style="clear:both;"></div>
    </div>
    <div style="margin:0px auto; text-align:center; height:45px; line-height:45px; background-color:rgba(255, 255, 255, 0.2); color:#000; font-weight:700; font-size:18px;">
        <span>=&diams;=</span>
        <span style="padding-left:10px; padding-right:10px;">昨日警情分析表</span>
        <span>=&diams;=</span>
    </div>
    <div class="x-body-contrianer" style="min-height:50px; margin:0px auto; text-align:center; background-color:rgba(255, 255, 255, 0.7);"></div>
</div>

<div class="x-contrainer" style="margin:35px auto; text-align:center;">
    <div class="x-title-h" style=" margin:0px auto; text-align:center;">
        <div class="triangle_border_sw" style="float:left; margin-top:10px;"></div>
        <div class="x-title-h-b" style="float:left; height:20px; background-color:rgba(255, 255, 255, 0.7);"></div>
        <div class="triangle_border_ne" style="float:left; margin-top:10px;"></div>

        <div style="clear:both;"></div>
    </div>
    <div style="margin:0px auto; text-align:center; height:45px; line-height:45px; background-color:rgba(255, 255, 255, 0.2); color:#000; font-weight:700; font-size:18px;">
        <span>=&diams;=</span>
        <span style="padding-left:10px; padding-right:10px;">本周警情分析表</span>
        <span>=&diams;=</span>
    </div>
    <div class="x-body-contrianer" style="min-height:50px; margin:0px auto; text-align:center; background-color:rgba(255, 255, 255, 0.7);"></div>
</div>


@section scripts{    
    <script type="text/javascript" src="@Url.Content("~/Scripts/baidu/echarts.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.echarts.js")"></script>
    <script type="text/javascript">
        
        var w = $('div.x-title-h-b').parent().outerWidth() - 31;
        $('div.x-title-h-b').width(w);
        $('div.x-body-contrianer').width(w);
        
        $("x-chart-perd").stackpie().draw();
        $("x-chart-perd-hb-week").stackline().draw();
        $("x-chart-perd-hb-month").stackline2().draw();

    </script>
}