
@*<img src="@Url.Content("~/Contents/Img/PoliceMan.jpg")" style="max-width:26px; max-height:20px;" />*@
<span style="margin-left:5px; max-height:20px; line-height:23px; font-weight:700;">
    版权所有 &copy;2017 @ViewBag.Copyright
</span>