<div style="min-height:66px; line-height:66px; vertical-align:central; background-color:rgb(45, 62, 80);">
    <span style="font-size:28px; font-family:STSong; color:white;">
        警情数据分析平台
    </span>
</div>