
.x-clear{
    zoom:1;
}

.x-clear:before{
}
.x-clear:after{
    content:"";
    display:block;
    clear:both;
}

a{
    text-decoration:none;
}

a:hover, a:visited, a:active{
    color:blue;
}

.x-border{
    border:1px solid #ddd;
}

.x-body{
    max-width:980px;
    text-align:center;
    margin:0px auto;
}

.x-clear-border{    
    border-width:0px;
}

.x-index-chart-left{
    width:420px;
    max-width:420px;
    min-height:520px;
    text-align:center;
    margin:0px auto;
    float:left;
}

.x-index-chart-right{  
    width:560px;
    max-width:570px;
    min-height:520px;
    text-align:center;
    margin:0px auto;
    float:right;
}

#x-bar-nav{
    max-height: 26px;
    line-height:26px;
    height:26px;
    vertical-align:middle;
    background-color:#95B8E7;
}

.x-nav-content{
    margin:0px auto;
    text-align:left;
    padding-left:30px;
    max-width:980px;
    color:white;
}

ul{
    list-style:none;
    list-style-type:none;
}

ul li{
    height:30px;
    line-height:30px;
    background-color:beige;
}

.x-nav-bar-left {
    margin-left: -30px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px #95B8E7 double;
    cursor:pointer;
    text-align:left;
    padding-left:30px;
}

.x-form-row{
    margin-top:5px;
    margin-bottom:15px;
}