
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="easyui-layout" style="min-height:400px; margin-top:5px;">
    <div data-options="region:'west'" title="" style="width:260px;"></div>
    <div data-options="region:'center'" title="" class="x-clear-border">
        <iframe id="x-main-frame" class="x-clear-border" src="@Url.Action("index", "cls")"></iframe>
    </div>
</div>