
@{
    ViewBag.Title = "SetPasswd";
    Layout = "~/Views/Shared/_LayoutFrame.cshtml";
}


<div class="easyui-panel" title="" style="width:400px;padding:30px 70px 20px 70px; border-width:0px;">
    <form id="x-form" method="post" action="@Url.Action("ChangePasswd")">
        <div style="margin-bottom:10px">
            <input id="oldpwd" name="oldpwd" class="easyui-textbox" type="password" style="width:100%;height:40px;padding:12px" data-options="prompt:'请输入旧密码 ...',iconCls:'icon-lock',iconWidth:38,required:true">
        </div>
        <div style="margin-bottom:20px">
            <input id="newpwd" name="newpwd" class="easyui-textbox" type="password" style="width:100%;height:40px;padding:12px" data-options="prompt:'请输入新密码 ...',iconCls:'icon-lock',iconWidth:38,required:true">
        </div>
        <div style="margin-bottom:20px">
            <input id="cfmpwd" name="cfmpwd" class="easyui-textbox" type="password" style="width:100%;height:40px;padding:12px" data-options="prompt:'请输入确认新密码 ...',iconCls:'icon-lock',iconWidth:38,required:true">
        </div>
        <div>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="formSubmit();return false;" style="padding:5px 0px;width:100%;">
                <span style="font-size:14px;">修&nbsp;&nbsp;&nbsp;&nbsp;改</span>
            </a>
        </div>
    </form>
</div>
<script type="text/javascript">
    var formSubmit = function () {
        $('#x-form').form('submit', {
            success: function (data) {
                data = JSON.parse(data);
                if (!!data.data) {
                    //location.href = data.url;
                    window.parent.document.location.href = data.url;
                }
                else {
                    $.messager.alert('提示', '错误，修改失败 !!', 'info');
                }
            }
        });
    };
</script>