
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TopLogin</title>
</head>
<body>
    <script type="text/javascript">
        top.location.href = '@Url.Action("login")';
    </script>
</body>
</html>
